
{% extends "ace/base.html" %}

{% load widget_tweaks %}

{% load pagination_tags %}



{% block title %}
    <title>Sistema Ace - Listagem de {{ title }}</title>
{% endblock %}


{% block extra-css %}
    {% load staticfiles %}   

{% endblock %}



{% block titulo %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-desktop fa-fw"></i>{{ title }}</h1>    
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}


<!-- Lista de locais -->
{% block conteudo1 %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="searchbox">
                                <form action="" method="get" class="form-inline">                                    
                                {{ filter.form.non_field_errors }}
                                    <!-- <div class="form-control" -->
                                    <div class="form-group">
                                        <label for="{{ filter.form.name.id_for_label }}">Nome:</label>
                                        {{ filter.form.name|add_class:"form-control"}}
                                    </div>&nbsp;
                                    <div class="form-group">
                                        <label for="{{ filter.form.active.id_for_label }}">Ativo:</label> 
                                        {{ filter.form.active|add_class:"form-control"}}
                                    </div>&nbsp;&nbsp;
                                    {% if filter.form.vm %}
                                    <div class="form-group">
                                        <label for="{{ filter.form.vm.id_for_label }}">Máquina virtual:</label> 
                                        {{ filter.form.vm|add_class:"form-control"}}
                                    </div>&nbsp; &nbsp;  
                                    {% endif %}                                 
                                    {% if filter.form.hwtype %}
                                    <div class="form-group">
                                        <label for="{{ filter.form.hwtype.id_for_label }}">Tipo de hardware:</label>
                                        {{ filter.form.hwtype|add_class:"form-control" }}
                                    </div>  
                                    {% endif %}            
                                    
                                    <div class="form-group">
                                        <label for="{{ filter.form.manufactorer.id_for_label }}">Fabricante:</label>
                                        <!-- <div class="form-control"> -->
                                        {{ filter.form.manufactorer|add_class:"form-control" }}    
                                    </div>  
                                    </br></br>
                                    <div class="form-group">
                                        <label for="{{ filter.form.devicemodel.id_for_label }}">Modelo:</label>
                                        {{ filter.form.devicemodel|add_class:"form-control" }}    
                                    </div>    

                                    {% if filter.form.osplatform %}                                                         
                                    <div class="form-group">
                                        <label for="{{ filter.form.os.id_for_label }}">Plataforma:</label>
                                        <!-- <div class="form-control"> -->
                                        {{ filter.form.osplatform|add_class:"form-control" }}    
                                    </div>    
                                    {% endif %} 

                                    {% if filter.form.os %}                                                         
                                    <div class="form-group">
                                        <label for="{{ filter.form.os.id_for_label }}">Sistema operacional:</label>
                                        <!-- <div class="form-control"> -->
                                        {{ filter.form.os|add_class:"form-control" }}    
                                    </div>    
                                    {% endif %}            
                                    
                                    <div class="form-group">
                                        <label for="{{ filter.form.ownerid.id_for_label }}">Patrimônio:</label>
                                        {{ filter.form.ownerid|add_class:"form-control" }}    
                                    </div> &nbsp;&nbsp;                                   
                                    <div class="form-group">
                                        <label for="{{ filter.form.supplierhw.id_for_label }}">Equipamento de Terceiros:</label>
                                        <!-- <div class="form-control"> -->
                                        {{ filter.form.supplierhw|add_class:"form-control" }}    
                                    </div>     

                                    </br></br>

                                    <div class="form-group">
                                        <label for="{{ filter.form.o.id_for_label }}">Ordenar:</label> 
                                        {{ filter.form.o|add_class:"form-control"}}
                                    </div>   


                                    &nbsp;<button type="submit" class="btn btn-info"><i class="fa fa-search fa-fw"></i>&nbsp;Pesquisar</button>

                                    <a href="{% url 'hostlist' %}" alt="Limpar filtro" title="Limpar filtro">
                                        <button class="btn btn-default" type="button"></i>&nbsp;Limpar filtro</button>
                                    </a>                                                                     

                                </form>
                            </div>
                            </br>



                                {% if filter %}


                                <table class="table table-striped table-hover">
                                    <thead>
                                        <th></th>                                                            
                                        <th>Nome</th>
                                        <th>Ativo/Em uso</th>
                                        <th>Fabricante</th>
                                        <th>nº s&eacute;rie</th>
                                        
                                        <th>Plataforma</th>
                                        <th>Sistema operacional</th>
                                        <th>M&aacute;quina virtual</th>
                                        <th>Patrim&ocirc;nio</th>
                                        <th>Local</th>
                                        <th>Obs</th>
                                        {% if perms.ace.change_host or perms.ace.delete_host %}
                                        <th>A&ccedil;&otilde;es</th> 
                                        {% endif %}                                       
                                    </thead>

                                    <tbody>

                                    {% autopaginate filter hostlist_results as filter_list %}

                                    {% for host in filter_list %}
                                            <tr>
                                                <!-- <td>{{ host.get_hwtype_display }}</td> -->
                                                {% if host.hwtype = "server" %}
                                                <td class="text-center"><i class="fa fa-server fa-2x"></i><span style="display: none;" >0</span></td>
                                                {% elif host.hwtype = "wifi" %}
                                                <td class="text-center"><i class="fa fa-wifi fa-2x"></i><span style="display: none;" >1</span></td>
                                                {% elif host.hwtype = "ap" %}
                                                <td class="text-center"><i class="fa fa-wifi fa-2x"></i><span style="display: none;" >2</span></td>                                                
                                                {% elif host.hwtype = "fw" %}
                                                <td class="text-center"><i class="fa fa-shield fa-2x"></i><span style="display: none;" >3</span></td>                                                
                                                {% elif host.hwtype = "printer" %}
                                                <td class="text-center"><i class="fa fa-print fa-2x"></i><span style="display: none;" >4</span></td>

                                                {% elif t = "printer" %}
                                                <td class="text-center"><i class="fa fa-print fa-2x"></i><span style="display: none;" >4</span></td>                                                
                                                {% elif host.hwtype = "router" %}
                                                <td class="text-center"><i class="fa fa-arrows fa-2x"></i><span style="display: none;" >5</span></td>                                                
                                                {% elif host.hwtype = "virt" %}
                                                <td class="text-center"><i class="fa fa-cloud fa-2x"></i><span style="display: none;" >6</span></td>                                                
                                                {% elif host.hwtype = "cftv" %}
                                                <td class="text-center"><i class="fa fa-video-camera fa-2x"></i><span style="display: none;" >7</span></td>
                                                {% elif host.hwtype = "cam" %}
                                                <td class="text-center"><i class="fa fa-video-camera fa-2x"></i><span style="display: none;" >8</span></td>                                                
                                                {% elif host.hwtype = "voip" %}
                                                <td class="text-center"><i class="fa fa-phone fa-2x"></i><span style="display: none;" >9</span></td>
                                                {% elif host.hwtype = "media" %}
                                                <td class="text-center"><i class="fa fa-youtube-play fa-2x"></i><span style="display: none;" >10</span></td>                                                                                                
                                                {% elif host.hwtype = "desktop" %}
                                                <td class="text-center"><i class="fa fa-desktop fa-2x"></i><span style="display: none;" >11</span></td>

                                                {% elif host.hwtype = "storage" %}
                                                <td class="text-center"><i class="fa fa-database fa-2x"></i><span style="display: none;" >12</span></td>                                                
                                                {% else %}
                                                <td class="text-center"><i class="fa fa-gears fa-2x"></i><span style="display: none;" >13</span></td>
                                                {% endif %} 

                                                {% if t = "printer" %}
                                                <td><a href="{% url 'printerdetail' host.id %}">{{ host.name }}</a></td>
                                                {% else %}
                                                <td><a href="{% url 'hostdetail' host.id %}">{{ host.name }}</a></td>
                                                {% endif %}

                                                {% if host.active = True %}
                                                <td><i class="fa fa-check-circle fa-1x text-success"><span style="display: none;" >1</span></td>
                                                {% else %}
                                                <td><i class="fa fa-minus-circle fa-1x text-danger"><span style="display: none;" >0</span></td>
                                                {% endif %}

                                                <td>{{ host.manufactorer|default_if_none:"" }}</td>
                                                <td>{{ host.serial_number|default_if_none:""}}</td>

                                                {% if host.osplatform = "linux" %}
                                                <td class="text-left"><i class="fa fa-linux fa-2x" alt="Gnu/Linux" title="Gnu/Linux"></i><span style="display: none;" >0</span></td>
                                                {% elif host.osplatform = "windows" %}
                                                <td class="text-left"><i class="fa fa-windows fa-2x" alt="Windows" title="Windows"></i><span style="display: none;" >1</span></td>
                                                {% elif host.osplatform = "bsd" %}
                                                <td class="text-left"><i class="fa fa-apple fa-2x" alt="BSD/Mac" title="BSD/Mac"></i><span style="display: none;" >2</span></td>
                                                {% else %}
                                                <td class="text-left"> <i class="fa fa-gears fa-2x" alt="Outros" title="Outros"></i><span style="display: none;" >3</span></td>
                                                {% endif %} 

                                                {% if host.os %}
                                                <td>{{ host.os }}</td>
                                                {% else %}
                                                <td></td>
                                                {% endif %}

                                                {% if host.vm = True %}
                                                <td><i class="fa fa-check-circle fa-1x text-success"><span style="display: none;" >1</span></td>
                                                {% else %}
                                                <td><i class="fa fa-minus-circle fa-1x text-danger"><span style="display: none;" >0</span></td>
                                                {% endif %}
                                                <td>{{ host.ownerid|default_if_none:"" }} </td>
                                                <td>{{ host.place|default_if_none:"" }} </td>
                                                <td>{{ host.comments|default_if_none:"" }} </td>

                                                {% if perms.ace.change_host or perms.ace.change_printer %} 
                                                <td>
                                                    {% if t = "printer" %}
                                                    <a href="{% url 'printer_edit' pk=host.pk %}" alt="Editar" title="Editar" ><i class="glyphicon glyphicon-pencil  text-info"></i></a>&nbsp;
                                                    {% else %}
                                                    <a href="{% url 'host_edit' pk=host.pk %}" alt="Editar" title="Editar" ><i class="glyphicon glyphicon-pencil  text-info"></i></a>&nbsp;
                                                    {% endif %}

                                                    {% if perms.ace.delete_host or perms.ace.delete_printer %}
                                                        {% if t = "printer" %}
                                                        <a href="{% url 'printer_delete' host.id %}" alt="Excluir" title="Excluir" alt="Excluir" title="Excluir" ><i class="glyphicon glyphicon-remove text-danger"></i></a>
                                                        {% else %}
                                                        <a href="{% url 'host_delete' host.id %}" alt="Excluir" title="Excluir" alt="Excluir" title="Excluir" ><i class="glyphicon glyphicon-remove text-danger"></i></a>
                                                        {% endif %}
                                                    {% endif %}

                                                </td>                              
                                                {% endif %}                                                 
                                            </tr>

                                    {% endfor %}
                                    

                                    </tbody>
                                </table>


                                <div align="center"> {% paginate %} </div> 



                            
                                <div class="filtercount">      
                                    <p>Encontrado(s) <b>{{ fc }}</b> resultado(s)</p>
                                    <p>Total de hosts: <b>{{ total }}</b></p>
                                </div>

                            {% else %}

                            <br>
                            <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    
                                    Nenhum host cadastrado.
                            </div>
            
                            {% endif %}                              

                            </br>                                               


                            {% if t == "printer" %}                         
                            <!-- formulario de adição -->
                            <div class="btn-group">
                                <a href="{% url 'printer_new' %}">
                                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i>Adicionar</button>
                                </a> 
                            </div>

                            <!-- formulario de adição -->
                            {% else %}
                            <!-- formulario de adição -->
                            <div class="btn-group">
                                <a href="{% url 'host_new' %}" alt="Adicionar" title="Adicionar">
                                    <button class="btn btn-default" type="button"><i class="fa fa-plus fa-1x text-default"></i>&nbsp;Adicionar</button>
                                </a>
                            </div>

 
                            <!-- formulario de adição -->                            
                            {% endif %}     


                            
                            {% if filter %}
                            {% if t == "printer" %}
                            <a href="{% url 'printerreport' %}" alt="Relat&oacute;rio de impressoras" title="Relat&oacute;rio de impressoras" target="blank">
                                <button class="btn btn-default" type="button"><i class="fa fa-file-pdf-o fa-fw"></i>Relat&oacute;rio de impressoras</button>
                            </a> 
                            {% else %}
                            <a href="{% url 'hostreport' %}" alt="Relat&oacute;rio de equipamentos" title="Relat&oacute;rio de equipamentos" target="blank">
                                <button class="btn btn-default" type="button"><i class="fa fa-file-pdf-o fa-fw"></i>Relat&oacute;rio de equipamentos</button>
                            </a>    
                            {% endif %}       
                            {% endif %} 

                                                      

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->                

            </div>
            <!-- /.row -->
            


{% endblock %}


{% block extra-js %}
    {% load staticfiles %}   


{% endblock %}