
{% extends "ace/base.html" %}



{% block title %}
	<title>Exclus&atilde;o de IP fixo</title>
{% endblock %}


{% block extra-css %}
	{% load staticfiles %}   
{% endblock %}


{% block titulo %}
<div class="row">
    <div class="col-lg-12">

    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}



{% block conteudo1 %}
    

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                     <h1 class="page-header"><i class="fa fa-globe fa-fw"></i>Exclus&atilde;o de IP fixo</h1>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Exclus&atilde;o de IP fixo
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- form-django -->      
									<form method="post">{% csrf_token %}
			                            <div class="alert alert-danger">
                                			Deseja mesmo apagar o IP <span class="alert-link"> {{ ip }}? </span> 
                            			</div>
									    <input class="btn btn-danger" type="submit" value="Sim. Tenho certeza" /> 
									    <a href="{% url 'ipdetail' ip.id %}">
				                            <button class="btn btn-default" type="button"><i class="fa fa-chevron-left "></i>&nbsp;N&atilde;o</button>
				                    	</a> 
									</form>                                    
                                    <!-- form-django -->  
                                    </br> 
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>

                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->


{% endblock %}



{% block extra-js %}
 	{% load staticfiles %}   

    
{% endblock %}

