
{% extends "ace/base.html" %}



{% block title %}
	<title>Detalhes da senha</title>
{% endblock %}


{% block extra-css %}
	{% load staticfiles %}   

{% endblock %}





{% block titulo %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-lock fa-fw"></i>Senha</h1>
    </div>
    <!-- /.col-lg-12 -->

</div>

{% endblock %}



<!-- Lista de locais -->
{% block conteudo1 %}



            <div class="row">
			     	   <div class="col-lg-12">

                {% if send = 'ok' %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Senha enviada para o usuário <b>{{ senha.user }}</b> no email <b>{{ senha.user.email }}</b> 
                </div>


                {% endif %}


                    <div class="panel panel-default">
                        <div class="panel-body">
                           {% if request.user.is_superuser %} 
			               <p><b>Código:</b> {{ senha.code }}</p>
                           {% else %} 
                           <p><b>Código:</b> ********** </p>
                           {% endif %} 
			               <p><b>Status:</b> {{ senha.status }}</p>
                           {% if senha.user %}
			               <p><b>Usuário:</b>&nbsp;<a href="{% url 'userdetail' senha.user.pk %}" alt="Editar" title="Editar">{{ senha.user }}</a> - {{ senha.user.email }} </p>
                           {% endif %}
			               <p><b>Tipo:</b> {{ senha.passwordtype }}</p>
			               <p><b>Data de criação:</b> {{ senha.date_creation }}</p>
                           {% if senha.date_modification %}
			               <p><b>Data de modificação:</b> {{ senha.date_modification }}</p>
                           {% endif %}
                           {% if senha.obs %}
			               <p><b>Observação:</b> {{ senha.obs }}</p>
                           {% endif %}
                        </div>


                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

  

                </div>
                <!-- /.col-lg-6 -->                

            </div>
            <!-- /.row -->


            <div class="btn-group">
                <a href="{% url 'passwordlist' %}" alt="Todas as senhas" title="Todas as senhas">
                    <button class="btn btn-primary" type="button">Todas as senhas</button>
                </a>
            </div>
         

          {% if senha.user.email and senha.status == 'Ativa' %}
            <div class="btn-group">
                <a href="{% url 'sendpassword' pk=senha.id  %}" alt="Enviar senha por email" title="Enviar senha por email">
                    <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-envelope"></i>&nbsp;Enviar senha por email</button>
                </a>
            </div>
            {% endif %}


            {% if request.user.is_superuser %} 
            <div class="btn-group">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    A&ccedil;&otilde;es
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="{% url 'phonepassword_new' %}" alt="Adicionar" title="Adicionar">
                                <i class="glyphicon glyphicon-plus"></i>&nbsp;Adicionar
                        </a> 
                    </li>
                    <li>
                        <a href="{% url 'phonepassword_edit' pk=senha.pk %}" alt="Editar" title="Editar">
                                <i class="glyphicon glyphicon-pencil text-info"></i>&nbsp;Editar
                        </a>                                 
                    </li>
                    
                     <li role="separator" class="divider"></li>
                    <li>
                           <a href="/admin/ace/phonepassword/{{ senha.id }}" alt="Editar na interface de administra&ccedil;&atilde;o" title="Editar na interface de administra&ccedil;&atilde;o" target="blank"><i class="glyphicon glyphicon-pencil text-danger"></i>
                            Editar na interface de administra&ccedil;&atilde;o
                        </a> 
                    </li>
                  </ul>
                </div>
            </div>



 


            </br>
            {% endif %}                     
                

            



{% endblock %}




{% block extra-js %}
 	{% load staticfiles %}   

    

{% endblock %}