
{% extends "ace/base.html" %}



{% block title %}
	<title>Detalhes do switch</title>
{% endblock %}


{% block extra-css %}
	{% load staticfiles %}   


{% endblock %}





{% block titulo %}
<div class="row">
    <div class="col-lg-12">

    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}


{% block conteudo1 %}
    
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                     <h1 class="page-header"><i class="fa fa-tasks fa-fw"></i>Cria&ccedil;&atilde;o/Ediç&atilde;o de switch</h1>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Dados do switch
                                <div class="dropdown pull-right">
                                  <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Adicionar
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">                                  
                                    <li>
                                        <a id="my_modal_runner" href='{% url "owneridmodal" %}' alt="Adicionar" title="Adicionar">
                                            Patrim&ocirc;nio
                                        </a> 
                                    </li>                                    
                                    <li>
                                        <a id="my_modal_runner2" href='{% url "manufactorermodal" %}' alt="Adicionar" title="Adicionar">
                                            Fabricante
                                        </a> 
                                    </li>   
                                    <li>
                                        <a id="my_modal_runner3" href='{% url "devicemodelmodal" %}' alt="Adicionar" title="Adicionar">
                                            Modelo de equipamento
                                        </a> 
                                    </li>                                                                     
                                    <li>
                                        <a id="my_modal_runner4" href='{% url "placemodal" %}' alt="Adicionar" title="Adicionar">
                                            Local
                                        </a> 
                                    </li>
                                    <li>
                                        <a id="my_modal_runner5" href='{% url "floormodal" %}' alt="Adicionar" title="Adicionar">
                                            Andar
                                        </a> 
                                    </li>  
                                    <li>
                                        <a id="my_modal_runner6" href='{% url "sectormodal" %}' alt="Adicionar" title="Adicionar">
                                            Setor
                                        </a> 
                                    </li>                                    

                                    <li>
                                        <a id="my_modal_runner7" href='{% url "rackmodal" %}' alt="Adicionar" title="Adicionar">
                                            Rack
                                        </a> 
                                    </li>                                    
                                    <li>
                                        <a id="my_modal_runner8" href='{% url "stackmodal" %}' alt="Adicionar" title="Adicionar">
                                            Pilha
                                        </a> 
                                    </li>                                        
                                  </ul>
                                </div>  
                            </br></br>                             
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">

                                    {% if form.subject.errors %}
                                        <ol>
                                        {% for error in form.subject.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        </ol>
                                    {% endif %}

                                    <!-- form-django -->      
                                    
                                    <form method="POST" class="service-form">{% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="save btn btn-info">Salvar</button>

                                        <a href="{% url 'switchlist' %}">
                                                <button class="btn btn-danger" type="button">Cancelar</button>
                                        </a>                                         
                                    </form>
                                    <!-- form-django -->     
                               

                                    
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>

                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->


{% endblock %}


{% block extra-js %}
 	{% load staticfiles %}   

{{ form.media }}

{% endblock %}

