{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}



{% block titulo %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-user fa-fw"></i>{{ title }} </h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}



{% block conteudo1 %}

<div class="row">      
  <div class="col-lg-8">
      <div class="panel panel-default">
              <div class="panel-body panel-default">

                <h2>{{ request.user.first_name }} {{ request.user.last_name }} - {{ request.user }}</h2>

                <div class="panel-body">

                    <form method="post">
                      {% csrf_token %}
                      {% include 'includes/form.html' with form=form %}
                      <button type="submit" class="btn btn-primary">Salvar</button>

                      <input class="btn btn-default" type="button" value="Voltar" onclick="history.back()">                                


                    </form>


				</div>
			   </div>
	  </div>
  </div>
</div>

{% endblock %}



