
{% extends "base.html" %}



{% block title %}
    {{title}}
{% endblock %}


{% block extra-css %}
    {% load staticfiles %}   

{% endblock %}





{% block titulo %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-cogs fa-fw"></i>{{ title }}</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}


<!-- Lista de locais -->
{% block conteudo1 %}

            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>Organiza&ccedil;&atilde;o/Empresa</b>
                        </div>
                        <div class="panel-body">
                            <p><b>Nome:</b> {{config.org}} 
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>


                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>Configura&ccedil;&otilde;es globais para envio de notifica&ccedil;&otilde;es por email</b>
                        </div>
                        <div class="panel-body">

                            <p><b>Email de origem:</b> {{config.email_from|default_if_none:"---"}} </p>

                            <p><b>Email de destino (CO):</b> {{config.email_co|default_if_none:"---"}}</p>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>


                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>Notifica&ccedil;&otilde;es de altera&ccedil;&otilde;es de ramais/senhas</b>
                        </div>
                        <div class="panel-body">

                            <p><b>Email de destino:</b> {{config.email_to|default_if_none:"---"}}</p>

                        </div>
                        <!-- /.panel-body -->

                    </div>
                    <!-- /.panel -->
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>Instruções para uso de senha</b>
                        </div>
                        <div class="panel-body">

					        <p><b>Texto do Email de senhas:</b></p>
					        <p> {{config.password_email_text}}</p>
					        <hr></hr>
					        <p><b>Texto do Email de senhas (HTML):</b> {{config.password_email_html_text| safe}}</p>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>



				<div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>Configura&ccedil;&otilde;es listagens</b>
                        </div>                    	
                        <div class="panel-body">
					        <p><b>Nº de telefones a exibir:</b> {{config.phonelist_results}}</p>
					        <p><b>Nº de equipamentos de rede a exibir:</b> {{config.hostlist_results}}</p>
					        <p><b>Nº de  IPs a exibir</b> {{config.iplist_results}}</p>
					        <p><b>Nº de  Usu&aacute;rio a exibir</b> {{config.owneridlist_results}}</p>
					        <p><b>Nº de  patchpanels a exibir</b> {{config.patchpanellist_results}}</p>
					        <p><b>Nº de locais a exibir</b> {{config.placelist_results}}</p>
					        <p><b>Nº de racks a exibir</b> {{config.racklist_results}}</p>
					        <p><b>Nº de setores a exibir</b> {{config.sectorlist_results}}</p>
					        <p><b>Nº de servi&ccedil;os a exibir</b> {{config.servicelist_results}}</p>
					        <p><b>Nº de pilhas a exibir</b> {{config.stacklist_results}}</p>
					        <p><b>Nº de switches a exibir</b> {{config.switchlist_results}}</p>                        
                            <p><b>Nº de usu&aacute;rios a exibir</b> {{config.userlist_results}}</p>                        
                        </div>
                        <!-- /.panel-body -->                      
                    </div>
                    <!-- /.panel -->
                

                

				<a href="{% url 'config_edit' %}" alt="Alterar" title="Alterar">
                    <button class="btn btn-info" type="button"><i class="fa fa-edit fa-1x text-default"></i>&nbsp;Alterar</button>
                </a> 


				</br></br>

                </div>  
                
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>Grupos padr&atilde;o</b>
                        </div> 
                        <div class="panel-body">
                            <p><b>Grupo padrão para equipamentos (Hosts):</b> {{config.default_host_group | default_if_none:""}}</p>
                            <p><b>Grupo padrão para impressoras/scanners e outros:</b> {{config.default_printer_group| default_if_none:""}}</p>                           
                        </div>  
                    </div> 
                    </div> 
                
                

            </div>
            <!-- /.row -->





{% endblock %}




{% block extra-js %}
    {% load staticfiles %}   



{% endblock %}