
{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block title %}
	Detalhes da Rede
{% endblock %}


{% block extra-css %}
	{% load staticfiles %}   

{% endblock %}





{% block titulo %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa  fa-cloud  fa-fw"></i>Rede: {{ network.name }}</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}


<!-- Lista de locais -->
{% block conteudo1 %}
            <div class="row">
				<div class="col-lg-12">
                    <div class="panel panel-default">

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="iteminfo">                             
                
                                <p><b>Endere&ccedil;o:</b> {{ network.address }}</p>
                                <p><b>M&aacute;scara:</b> /{{ network.mask }}</p> 
                                {% if network.gateway %}
                                <p><b>Gateway:</b> {{ network.gateway }}</p> 
                                {% endif %}
                                <p><b>Braoadcast:</b> {{ broadcast }}</p> 
                                {% if network.vln %}
                                <p><b>VLAN:</b> {{ network.vln }}</p>
                                {% endif %}

                                {% if network.dhcp == True %}
                                <!-- <p><b>DHCP:</b> {{ network.dhcp |yesno:"sim,não" }} </p> -->
                                <p><b>DHCP:</b> <span><i class="fa fa-check-circle fa-1x text-success"></i></span> </p> 
                                {% else %}
                                <p><b>DHCP:</b> <span><i class="fa fa-times-circle fa-1x text-danger"></i></span> </p> 
                                {% endif %}
                            </div>                                
                            <div class="iteminfo">                         

                                {% if network.dhcp != False %}
                                <p><b>DHCP Range:</b> {{ network.dhcp_start }} - {{ network.dhcp_end }} ( <small title="total de endere&ccedil;os DHCP"> {{ qdhcp }} </small> )</p>
                                {% endif %}
                                <p><b>IP's fixos dispon&iacute;veis nesta rede:</b> {{ d }} </p>

                                {% if network.comments %}
                                <p><b>Obs:</b> {{ network.comments|default_if_none:"" }} </p>
                                {% endif %}                        
                            </div>                                


                        </br> 


                        <div class="btn-group">
                            <a href="{% url 'networklist' %}" alt="Todas as redes" title="Todas as redes">
                                <button class="btn btn-default" type="button">Todas as redes</button>
                            </a>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'network_new' %}" alt="Adicionar" title="Adicionar">
                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i>&nbsp;Adicionar</button>
                            </a>                             
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'network_edit' pk=network.pk %}" alt="Editar" title="Editar">
                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-pencil text-info"></i>&nbsp;Editar</button>
                            </a>                                                             
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'network_delete' network.id %}" alt="Excluir" title="Excluir">
                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-remove text-danger"></i>&nbsp;Excluir</button>
                            </a>                                                             
                        </div>                                                
         
                        </br>
                        </br>
                    
                        </div>

                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-6 -->      

                <div class="col-lg-6">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <i class="fa  fa-globe fa-fw"></i> Endere&ccedil;os livres para uso como IP fixo
                        </div>
                        <div class="panel-body">

                           {% if free %}

                            <ul class="sidelist">
                                {% for ip in free %}
                                <li>
                                        <a href="{% url 'ip_new2' network.pk ip  %}" alt="Adicionar IP fixo" title="Adicionar IP fixo">&nbsp;{{ ip }} &nbsp;</a> | 
                                </li>
                                {% endfor %}        
                            </ul> 

                            </br></br>
                            <hr>

                            </br></br>
                            {% else %}
                            <br>
                                <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        
                                        Nenhum IP dispon&iaccute;vel para cadastro
                                </div>
                
                            {% endif %}

                        </div>
                        <div class="panel-footer">Total: {{ d }}</div>

                    </div>


                </div>
                <!-- /.col-lg-6 -->  
                {% if i %}   
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa  fa-globe fa-fw"></i> Endere&ccedil;os IP fixos</div>
                         <div class="panel-body">

                               {% render_table table 'django_tables2/bootstrap.html' %}

                        </div>
                        <div class="panel-footer">Total: {{ qf }}</div>

                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->  
                {% endif %}                                
           
                <div class="col-lg-12">           
                    <a href="{% url 'iplist' %}" alt="Todos IPs" title="Todos IPs">
                    <button class="btn btn-default" type="button">Todos os IPs</button>
                </a>                
                </div>

            </div>
            <!-- /.row -->




           

        </br></br>



{% endblock %}




{% block extra-js %}
 	{% load staticfiles %}   

    <script src="{% static "js/highcharts.js" %}"></script>
    <script src="{% static "js/exporting.js"   %}"></script>


 



{% endblock %}