
{% extends "base.html" %}

{% load widget_tweaks %}

{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block title %}
     {{ title }}
{% endblock %}


{% block extra-css %}
    {% load staticfiles %}   


{% endblock %}



{% block titulo %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-wrench fa-fw"></i>{{ title }}</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}


<!-- Lista de locais -->
{% block conteudo1 %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {% if filter.qs %}
                            <div id="searchbox">
                                <form action="" method="get" class="form-inline">                                    
                                {{ filter.form.non_field_errors }}
                                    <div class="form-group">
                                        <label for="{{ filter.form.name.id_for_label }}">Nome:</label>
                                        {{ filter.form.name|add_class:"form-control"}}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ filter.form.network.id_for_label }}">Rede:</label> 
                                        {{ filter.form.network|add_class:"form-control"}}
                                    </div>                                  
                                    
                                    <div class="form-group">
                                        <label for="{{ filter.form.ip.id_for_label }}">IP:</label>
                                        {{ filter.form.ip|add_class:"form-control" }}    
                                    </div>  

									<div class="form-group">
                                        <label for="{{ filter.form.category.id_for_label }}">Categoria:</label>
                                        {{ filter.form.category|add_class:"form-control" }}    
                                    </div>                                                                                
									
                                
                                    &nbsp;<button type="submit" class="btn btn-info"><i class="fa fa-search fa-fw"></i>&nbsp;Pesquisar</button>

                                </form>
                            </div>
                            </br>
                            {% endif %}

								{% if filter.qs %}

                                {% render_table table 'django_tables2/bootstrap.html' %}


                                <div class="filtercount">      
                                    <p>Encontrado(s) <b>{{ fc }}</b> resultado(s)</p>
                                    <p>Total de {{ title }}: <b>{{ total }}</b></p>
                                </div>                                 


                            {% else %}

                            <br>
                            <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    
                                    Nenhum resultado encontrado.
                            </div>
            
                            {% endif %}                             

                            </br>                                               
                         
                            <!-- formulario de adição -->
                            <div class="btn-group">
                                <a href="{% url 'service_new' %}">
                                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i>Adicionar</button>
                                </a> 
                            </div>
                            <!-- formulario de adição -->

                            {% if filter.qs %}
                            <a href="{% url 'servicereport' %}" alt="Relat&oacute;rio de servi&ccedil;os" title="Relat&oacute;rio de servi&ccedil;os" target="blank">
                                <button class="btn btn-default" type="button"><i class="fa fa-file-pdf-o fa-fw"></i>Relat&oacute;rio de servi&ccedil;os</button>
                            </a> 
                            {% endif %}

                            <input class="btn btn-default" type="button" value="Voltar" onclick="history.back()">

 

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->                

            </div>
            <!-- /.row -->
            


{% endblock %}


{% block extra-js %}
    {% load staticfiles %}   




{% endblock %}